<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <link href="../stylesheets/afterRegist.css" type="text/css" rel="stylesheet" />
        <title><%= title %></title>
    </head>
    <body>
        <div id="mainBox">
            <h1 id="head"><%= title %></h1>
            <span class="infor">用户名: </span><span><%= username %></span><br />
            <span class="infor">学号: </span><span><%= studentId %></span><br />
            <span class="infor">电话: </span><span><%= phoneNum %></span><br />
            <span class="infor">邮箱: </span><span><%= email %></span><br /><br />
            <a href="/" class="button" id="index">登录</a>
        </div>
    </body>
</html>